{% extends 'layout.twig' %}
{% block content %}
<h1>Register</h1>
{% for alert in app.session.flashbag.get('error') %}
<div class="error-message">
  <div class="alert"><strong>{{ alert }}</strong></div>
</div>
{% endfor %}
<form action="{{ path('_register') }}" method="post">
    <input type="text" name="_username" />
    <input type="password" name="_password" value="" />
    <input type="submit" />
    <input type="hidden" name="_csrf" value="{{ csrf }}">
</form>
{% endblock %}
